

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <img  src="./assets/Images/logo.jpg" alt="Logo" /> <!-- Replace with your logo file -->
            </div>
            <div class="nav-links">
                <a href="#about">Acerca de Nosotros</a>
                <a href="#success">Beneficios</a>
                <a href="#services">Testimonios</a>
                <a href="#demo">Demostración</a>
                <a href="#precios">Precios</a>
                <a href="#galeria">Galería</a>
                <a href="#faq">FAQ</a>
                <a href="#contact">Contacto</a>
                <a class ="log-in" style="color: black;" href="#contact">Log in</a>

            </div>
        </div>
    </header>
    
    <main>
        <section class="section1">
            <div class="page_welcome">
                <div class="main_title">
                    <h1>Narrativa: Comparte tus ideas con el mundo</h1>
                </div>
                <div class="subtext_title">
                    <p>Sube videos, textos e imágenes y conecta con tus suscriptores fácilmente.</p>         
                </div>
                <button>Comienza ahora</button>
            </div>
      </section>


        <section id="demo">
            <h2>¿Por qué elegir Narrativa?</h2>
            <div class="container">
                <div class="demo-gallery">
                    <div class="demo-item">
                        <div class="item-box">
                            <img src="./assets/Images/recomend.png" alt="Captura 1">
                            <p>¡Atrévete a descubrir a los creadores más increíbles que están 
                                revolucionando el mundo del contenido! Sumérgete en su creatividad 
                                y déjate inspirar por sus obras maestras. No te quedes atrás, 
                                ¡únete a la conversación y sé parte de esta comunidad vibrante!</p>
                        </div>
                    </div>
                    <div class="demo-item">
                        <div class="item-box">
                            <img src="./assets/Images/text.png" alt="Captura 2">
                            <p>"¡Publica y edita tus textos en línea de manera fácil y rápida! 
                                Da vida a tus ideas y compártelas con el mundo al instante. 
                                ¡Es tu momento de brillar!"</p>
                        </div>
                    </div>
                    <div class="demo-item">
                        <div class="item-box">
                            <img src="./assets/Images/statistics.png" alt="Captura 3">
                            <p>¡Monitorea el impacto de tus videos en tiempo real! Analiza tus 
                                estadísticas: visualizaciones, interacciones, comentarios y mucho más. 
                                Con cada dato, afina tu estrategia y lleva tu contenido al siguiente nivel. 
                                ¡Haz que cada publicación cuente!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about">
            <h2>Acerca de Nosotros</h2>
                <div class="container-integrantes">
                    <div class="integrante">
                        <h3>Joaquin Galvan</h3>
                        <img src="./assets/Images/jg.jpg" alt="" >
                        <p>Soy Joaquín Galván, estudiante de Ciencias de la Computación. Mi enfoque se centra en el desarrollo de software, con habilidades en Python, C++, JavaScript, y Golang.  Siempre estoy abierto al trabajo en equipo y al aprendizaje continuo. Confío en que mi perfil será de beneficio para nuestra Startup y que, junto con mis compañeros, logramos hacer que Narrativa sea una plataforma de monetización de contenido beneficiosa para todos nuestros usuarios</p>
                    </div>
                    <div class="integrante">
                        <h3>Abel Aguilar</h3>
                        <img src="./assets/Images/aa.png" alt="">
                        <p>Mi nombre es Abel Kevin Aguilar Caceres y soy estudiante de 6to Ciclo de la carrera de Ciencias de la computación. Para la realización de este trabajo proporcionaré todo el apoyo necesario, especialmente en el análisis de los problemas que surgen durante el desarrollo del proyecto. Tengo conocimientos en  python, C + + y me siento emocionado por ser parte de esta StartUp.</p>
                    </div>
                    <div class="integrante">
                        <h3>Facundo Maco</h3>
                        <img src="./assets/Images/fm.jpg" alt="">
                        <p>Soy Facundo Maco, estudiante de ciencias de computación y curso el 4to ciclo de la carrera. El enfoque que suelo buscar se basa en el desarrollo de software en lenguajes de programación tal como Python y C + +.</p>
                    </div>

                </div>

        </section>

    <!-- Success cases -->
    <section id="success">
        <h2>Casos de Éxito</h2>
        <div class="container">
            <div class="case">
                <h3>Financia Tu Futuro</h3>
                <img src="./assets/Images/financiaTuFuturo.jpg" alt="Financia Tu Futuro">
                <p>FinanciaTuFuturo necesitaba urgentemente una web que transmitiera confianza. 
                    ¡Y lo logramos! En solo 6 meses, las consultas de clientes aumentaron un asombroso 200 %, 
                    y la retención de clientes subió un increíble 30%. ¡Una transformación que ha redefinido su éxito!</p>
            </div>
            <div class="case">
                <h3>Eco Fashion</h3>
                <img src="./assets/Images/ecofashion.jpg" alt="Eco Fashion">
                <p>EcoFashion enfrentaba el desafío de atraer clientes a su tienda online de ropa sostenible. 
                    ¡Pero todo cambió! En solo 4 meses, su tráfico se disparó un 150% y las conversiones de 
                    visitantes a clientes crecieron un impresionante 40%. ¡Una transformación que marca la diferencia!.</p>
            </div>
        </div>
    </section>

    <section id="precios">
        <h2>Planes y Precios</h2>
        <div class="planesyprecios">
            <div class="planesypreciosUnit">
                <h2>Básico</h2>
                <div><h3 >$10/mes</h3></div>
                <div>
                <p>
                    Acceso a funciones estándar
                    <br/>
                    Soporte básico
                </p>
                </div>
            </div>
            <div class="planesypreciosUnit">
                <div><h2 >Pro</h2></div>
                <div><h3 >$30/mes</h3></div>
                <div>
                <p>
                    Acceso a todas las funciones
                    <br/>
                    Soporte prioritario
                </p>
                </div>
            </div>
        </div>

        <section id="faq">
            <h2>Preguntas Frecuentes</h2>
            <div class="faq-container">
                <div class="faq-item">
                    <h3>¿Qué es Narrativa?</h3>
                    <p>Narrativa es una plataforma para compartir tus historias y conectar con tu audiencia.</p>
                </div>
                <div class="faq-item">
                    <h3>¿Cómo puedo empezar?</h3>
                    <p>Regístrate hoy mismo para comenzar a crear y compartir contenido.</p>
                </div>
            </div>
        </section>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const hamburger = document.querySelector(".hamburger");
                const navLinks = document.querySelector(".nav-links");
        
                hamburger.addEventListener("click", () => {
                    navLinks.classList.toggle("active");
                });
            });
        </script>

    </section>
    <section id="galeria">
        <div class="section7">
            <div class="section7_mini">
                <img src="./assets/Images/narrativa_imagen.png" alt="alt text" />

                <h2 class="hero_title">Galería de Imágenes</h2>

                <img src="./assets/Images/narrativa_imagen2.png" alt="alt text" />
                
            </div>
        </div>
    </section>

    </main>
<!-- Footer -->
<footer>
    <div class="container">
        <p>© 2024 Narrativa. Todos los derechos reservados.</p>
        <p><a href="#">Términos y Condiciones</a> | <a href="#">Política de Privacidad</a> | <a href="#">Contacto</a></p>
    </div>
</footer>

</body>