<mat-card class="carousel-card">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row carousel-content">
            <!-- Imagen -->
            <div class="col-md-6 col-sm-12">
              <img src="assets/images/featured-video.jpg" alt="Featured Video" class="carousel-image img-fluid">
            </div>
  
            <!-- Información del video -->
            <div class="col-md-6 col-sm-12 carousel-info">
              <h3>Rubius</h3>
              <p>Física </p>
              <p>3K Suscriptores</p>
            </div>
          </div>
        </div>
  
        <!-- Otro item del carrusel -->
        <div class="carousel-item">
          <div class="row carousel-content">
            <div class="col-md-6 col-sm-12">
              <img src="assets/images/featured-video2.jpg" alt="Featured Video" class="carousel-image img-fluid">
            </div>
            <div class="col-md-6 col-sm-12 carousel-info">
              <h3>Hamp Code</h3>
              <p>Front End</p>
              <p>100k Suscriptores</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Controles de navegación del carrusel -->
      <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <i class="fas fa-arrow-left"></i> <!-- Flecha izquierda -->
        <span class="visually-hidden">Previous</span>
      </button>
      
      <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <i class="fas fa-arrow-right"></i> <!-- Flecha derecha -->
        <span class="visually-hidden">Next</span>
      </button>   
      
    </div>
  </mat-card>
  