footer {
    background-color: #68A014; /* Fondo oscuro acorde con el navbar */
    color: #ffffff; /* Texto claro */
    padding: none;
    /*position: fixed; /* Fijo al final de la pantalla */
    width: 100%;
    bottom: 0;
  }