footer {
    background-color: #68A014; /* Fondo oscuro acorde con el navbar */
    color: #ffffff; /* Texto claro */
    padding: none;
    margin-top: 15px;
    position:static; /* Fijo al final de la pantalla */
    width: 100%;
    bottom: 0;
  }


  footer .ext-start {
    padding: 1rem;
}

footer .list-unstyled li {
    margin-left: 20px; /* Add left margin to the list items */
}