<!-- Mostrar NavbarHome si el usuario no está logueado -->
<app-navbar-home *ngIf="!isLoggedIn" class="navbar-home"></app-navbar-home>

<!-- Mostrar NavbarUser si el usuario está logueado -->
<app-navbar-user *ngIf="isLoggedIn" class="navbar-user"></app-navbar-user>

<div class="home-layout">
  <div class="recomend-bar">
    <app-recomend-bar></app-recomend-bar>
  </div>
  <div class="main-content">
    <app-category-bar></app-category-bar>
    <app-carrousel></app-carrousel>
    <app-live-video></app-live-video>
    <app-article-tems></app-article-tems>
  </div>
</div>

<app-footer></app-footer>
