<nav class="navbar navbar-expand-lg navbar-dark bg-white">
    <div class="container-fluid">
      <!-- Logo a la izquierda fuera del collapse -->
      <div class="logo-navbar">
        <img src="./assets/Images/logo.jpg" alt="" >
      </div>
      
      <!-- Contenedor para el formulario de búsqueda centrado entre el logo y los botones -->
      <div class="d-flex ms-auto me-auto w-50">
        <form class="d-flex w-100">
          <input type="text" class="form-control border-0 input-search" placeholder="Buscar">
          <button class="btn btn-light btn-custom" type="submit">
            <i class="bi bi-search"></i> <!-- Ícono de lupa -->
          </button>
        </form>
      </div>
  
      <!-- Botón de menú (collapse) en pantallas pequeñas -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHome" aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Sección colapsable para los botones -->
      <div class="collapse navbar-collapse" id="navbarHome">
        <ul class="navbar-nav ms-auto">
          <!-- Botón "Crear" -->
          <li class="nav-item">
            <a class="nav-link btn btn-outline-light px-3 me-2" routerLink="/creator/publicacion" routerLinkActive="active">Crear</a>
          </li>
  
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center">
              <div class="user-icon" style="background-image: url('./assets/Images/perfil1.jpg');"></div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  