<div class="container mt-1">
  <form>
    <div class="mb-3">
      <h2 for="tituloPublicacion" class="form-label">Título de la Publicación</h2>
      <div id="emailHelp" class="form-text">Usa un título llamativo y preciso para mejores resultados.</div>
      <input type="text" class="form-control" id="publicacion_id" aria-describedby="tituloHelp">
    </div>

    <div class="mb-3">
        <div
          class="editor-container editor-container_classic-editor editor-container_include-style editor-container_include-block-toolbar"
          #editorContainerElement
        >
          <div class="editor-container__editor">
            <div #editorElement>
              <ckeditor [editor]="Editor" [config]="config" *ngIf="isLayoutReady" />
            </div>
          </div>
        </div>
    </div>  
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-lg btn-publicar ml-auto">Submit</button>
    </div>
  </form>

</div>