<p>publicacion-form works!</p>

<div class="container mt-1">

<form>
    <div class="mb-3">
      <label for="tituloPublicacion" class="form-label">Título de la Publicación</label>
      <input type="titulo" class="form-control" id="publicacion_id" aria-describedby="tituloHelp">
      <div id="emailHelp" class="form-text">Usa un título llamativo y preciso para mejores resultados.</div>
    </div>
    <div class="mb-3">
        <label for="ContenidoPrincipal" class="form-label">Contenido Principal</label>
        <textarea class="form-control form-control-lg" id="contenidoPrincipal" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>